In [1]:
import requests
import pandas as pd

In [2]:
r = requests.get('https://www.indexmundi.com/map/?v=35&l=es')

In [29]:
dfs = pd.read_html('https://www.indexmundi.com/map/?v=35&l=es')
rawdata=dfs[1]
rawdata.to_csv('csvprueba.csv')
rawdata

,País,VIH/SIDA - habitantes infectados con VIH/SIDA,Año
0,Sudáfrica,7700000,2018
1,Mozambique,2200000,2018
2,India,2100000,2017
3,Nigeria,1900000,2018
4,Kenia,1600000,2018
...,...,...,...
155,Macedonia,500,2018
156,Jordania,500,2018
157,Qatar,500,2017
158,San Cristóbal y Nieves,200,2018
159,Comoras,200,2018

In [30]:
data = pd.read_csv('csvprueba.csv') 
# Preview the first 5 lines of the loaded data 
data

,Unnamed: 0,País,VIH/SIDA - habitantes infectados con VIH/SIDA,Año
0,0,Sudáfrica,7700000,2018
1,1,Mozambique,2200000,2018
2,2,India,2100000,2017
3,3,Nigeria,1900000,2018
4,4,Kenia,1600000,2018
...,...,...,...,...
155,155,Macedonia,500,2018
156,156,Jordania,500,2018
157,157,Qatar,500,2017
158,158,San Cristóbal y Nieves,200,2018
159,159,Comoras,200,2018