In [38]:
import pandas as pd
import requests
import numpy as np

$\textbf{1.-Tasa de mortalidad nivel mundial por país, por cada mi habitantes.}$

In [6]:
dfs = pd.read_html('https://www.indexmundi.com/map/?t=0&v=26&r=xx&l=en')
rawdata=dfs[1]
rawdata.to_csv('deathrate2018.csv')
rawdata

                  Country  Death rate (deaths/1,000 population)  Year
0                 Lesotho                                    15  2018
1               Lithuania                                    15  2018
2                  Latvia                                    15  2018
3                Bulgaria                                    15  2018
4                 Ukraine                                    14  2018
..                    ...                                   ...   ...
192          Saudi Arabia                                     3  2018
193               Bahrain                                     3  2018
194                Kuwait                                     2  2018
195  United Arab Emirates                                     2  2018
196                 Qatar                                     2  2018

[197 rows x 3 columns]

In [44]:
rawdata.columns
rawdata['Death rate (deaths/1,000 population)']
rawdata['Death rate (deaths/1,000 population)'].describe()

count    197.000000
mean       7.776650
std        2.678498
min        2.000000
25%        6.000000
50%        8.000000
75%        9.000000
max       15.000000
Name: Death rate (deaths/1,000 population), dtype: float64

$\textbf{2.-Porcentaje de obesidad en adultos por país}$

In [7]:
dfs2 = pd.read_html('https://www.indexmundi.com/map/?t=0&v=2228&r=xx&l=en')
rawdata2=dfs2[1]
rawdata2.to_csv('obesity2016.csv')
rawdata2

        Country  Obesity - adult prevalence rate (%)  Year
0         Nauru                                   61  2016
1         Palau                                   55  2016
2        Tuvalu                                   52  2016
3         Tonga                                   48  2016
4         Samoa                                   47  2016
..          ...                                  ...   ...
180       India                                    4  2016
181    Cambodia                                    4  2016
182  East Timor                                    4  2016
183  Bangladesh                                    4  2016
184     Vietnam                                    2  2016

[185 rows x 3 columns]

In [47]:
rawdata2.columns
rawdata2['Obesity - adult prevalence rate (%)'].describe()

count    185.000000
mean      19.383784
std       10.572666
min        2.000000
25%       10.000000
50%       21.000000
75%       25.000000
max       61.000000
Name: Obesity - adult prevalence rate (%), dtype: float64

$\textbf{3.-Densidad de camas de hospitales por cada mil habitantes.}$

In [8]:
dfs3 = pd.read_html('https://www.indexmundi.com/map/?t=0&v=2227&r=xx&l=en')
rawdata3=dfs3[1]
rawdata3.to_csv('hospitalbeddensity.csv')
rawdata3

          Country  Hospital bed density (beds/1,000 population)  Year
0          Monaco                                            14  2012
1           Japan                                            13  2012
2    Korea, North                                            13  2012
3    Korea, South                                            12  2015
4         Belarus                                            11  2013
..            ...                                           ...   ...
167        Guinea                                             0  2011
168      Ethiopia                                             0  2015
169          Iran                                             0  2014
170    Madagascar                                             0  2010
171          Mali                                             0  2010

[172 rows x 3 columns]

In [54]:
rawdata3.columns
print(rawdata3['Hospital bed density (beds/1,000 population)'].describe())
print(rawdata3['Country'].describe())

count    172.000000
mean       3.337209
std        2.636276
min        0.000000
25%        1.000000
50%        3.000000
75%        5.000000
max       14.000000
Name: Hospital bed density (beds/1,000 population), dtype: float64
count         172
unique        172
top       Germany
freq            1
Name: Country, dtype: object

$\textbf{¿Cuáles son los países con mayor death rate?}$

Como vemos en las primeras líneas de código el la tasa máxima de muerte por cada mil habitantes es 15 habitantes, entonces los países que tienen una igual a 15:

In [58]:
rawdata[(rawdata['Death rate (deaths/1,000 population)'] >= 15.0)]

     Country  Death rate (deaths/1,000 population)  Year
0    Lesotho                                    15  2018
1  Lithuania                                    15  2018
2     Latvia                                    15  2018
3   Bulgaria                                    15  2018

$\textbf{Países con mayor obesidad}$

In [59]:
rawdata2['Obesity - adult prevalence rate (%)'].max()

61

Los países con mayor tasa de prevalencia de la obesidad en adultos tienen un $61\%$ y son los siguientes

In [64]:
rawdata2[(rawdata2['Obesity - adult prevalence rate (%)'] >=61.0)]

  Country  Obesity - adult prevalence rate (%)  Year
0   Nauru                                   61  2016

$\textbf{Países con mayor saturación de camas}$

In [65]:
rawdata3['Hospital bed density (beds/1,000 population)'].max()

14

In [66]:
rawdata3[(rawdata3['Hospital bed density (beds/1,000 population)'] >=14.0)]

  Country  Hospital bed density (beds/1,000 population)  Year
0  Monaco                                            14  2012

In [67]:
rawdata3['Hospital bed density (beds/1,000 population)'].min()

0

In [68]:
rawdata3[(rawdata3['Hospital bed density (beds/1,000 population)'] <=0.0)]

          Country  Hospital bed density (beds/1,000 population)  Year
166  Burkina Faso                                             0  2010
167        Guinea                                             0  2011
168      Ethiopia                                             0  2015
169          Iran                                             0  2014
170    Madagascar                                             0  2010
171          Mali                                             0  2010